.contact_form{
  width:30%;
   margin:50px;
   padding:30px;
   border-radius:15px;
   border:none;
   background-color:rgb(238, 238, 238);
   display:flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.contact_form h1{
  color: rgb(89, 89, 89);
   font-size: 2.5rem;
   margin-bottom:10px;
}
.contact_form_details{
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
.contact_input{
  padding:15px;
  border-radius: 25px;
  border:1px solid grey;
  margin-bottom: 20px;
  outline: none;
  width:90%;
}
.contact_input:focus , .contact_textarea:focus{
  border:2px solid #53b115;
}
.contact_textarea{
  border-radius: 25px;
  border:1px solid grey;
  margin-bottom: 20px;
  width:90%;
  padding:15px;
  height: 130px;
  outline: none;
}
.contact_us_btn{

  width: 160px;
  height:58px;
  box-shadow: 0 0 20px #BDC3C7;
  background:#53b115;
  border-radius:40px;
  border:3px solid white;
  color: white;
  font-size:20px;
  font-weight: 500;

}
.contact_us_btn:hover{
  cursor: pointer;
  background:#05242a;
}
@media (max-width :1000px){
  .contact_form{
    width:50%;
    padding:15px;
    margin:25px;
  }
}
@media (max-width :898px){
.contact_form_details{
   padding-top:10px;
 }
}
@media (max-width :795px){
  .contact_form{
    margin:60px;
  }
}
@media (max-width:590px){
  .contact_form{
    width:70%;
  }
}
