.about_head{
  width:100%;
  height:100vh;
  background-image: url(../../asserts/about.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: white;
  clip-path: polygon(0px 0px, 100% 0px, 100% 50%, 50% 100%, 0px 50%);
  background-position: 50% center;
  color:white;
}
.about_head_desc{
     padding:30px 90px 0px 90px;
}
.about_head_desc h1{
    font-size:2.5rem;
    padding-bottom:15px;
}
.about_head_desc p{
   font-size:1.3rem;
   line-height: 1.5;
}

@media (max-width :1000px){
  .about_head_desc{
       padding:50px;
  }
  .about_head_desc h1{
      font-size:2.2rem;
      padding-bottom:15px;
  }
  .about_head_desc p{
     font-size:1.1rem;
     line-height: 1.3;
  }
}
@media (max-width :665px){
  .about_head{
    clip-path: none;
  }
}
@media (max-width :565px){
  .about_head{
    height:600px;
    clip-path: none;
  }
  .about_head_desc{
       padding:40px;
  }
}
@media (max-width :383px){
  .about_head_desc h1{
      font-size:2rem;
      padding-bottom:15px;
  }
  .about_head_desc p{
     font-size:1rem;
     line-height: 1.2;
  }
}
