.sell_comp_main{
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sell_comp_main p{
   padding-top: 30px;
   font-weight: 600;
   font-size: 1.5rem;
}
.sell_comp_main span{
   color:blue;
}
.sell_comp_main span:hover{
  cursor:pointer;
}
.sell_comp_con{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 30px 0px;
}
.sell_comp_btn{
  margin:30px;
  width:25%;
  border:none;
  background-color: transparent;

}
.sell_comp_btn img{
  width: 100%;
   max-width: 250px;
   height: 200px;
   box-shadow: rgba(0, 0, 0, 0.12) 13px 13px 0px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(0, 0, 0);
}
.sell_comp_btn p{
  background:url(../../asserts/button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size:100% 100%;
  color:white;
  border-width: 0px;
  border-style: 0px;
  border-color: none;
  width:160px;
  height:40px;
  font-size: 1.5rem;
  margin-top:25px;
  padding-top:5px;
}

.sell_comp_btn :hover{
   cursor:pointer;
}
.sell_pin_con{
  padding:40px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.sell_pin_con h2{
   font-size:2.5rem;
   color:grey;
   margin-bottom:30px;
}
.sell_pin_input{
  width:80%;
  height:45px;
  border:1px solid grey;
  border-radius: 25px;
  padding: 10px;
}
.sell_pin_con button{
  margin-top:30px;
  width: 160px;
  height:58px;
  box-shadow: 0 0 20px #BDC3C7;
  background:#53b115;
  border-radius:40px;
  border:3px solid white;
  color: white;
  font-size:20px;
  font-weight: 500;
}
.sell_pin_con button:hover{
  cursor: pointer;
  background:#05242a;
}
@media (max-width :750px){
  .sell_comp_btn{
    width:30%;
    margin:20px;
  }
}
@media (max-width :525px){
  .sell_comp_btn{
    width:60%;
    margin:20px 30px 10px 30px;
  }
  .sell_comp_main p{
     font-size: 1.3rem;
  }
}
@media (max-width :310px){
  .sell_comp_btn{
    width:75%;
  }
  .sell_comp_btn p{
    width:140px;
    height:40px;
    font-size: 1.2rem;
  }
  .sell_comp_main p{
     font-size: 1.1rem;
  }
}
